div.container {
    width: 800px;
    margin: auto;
}

h1, h2, h3 {
    font-family: Tilt Neon;
    background-color: rgb(255, 244, 230);
}

h1 {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: red;
}

h2, h3 {
    margin-top: 30px;
}

h3 {
    color: rgb(0, 60, 255);
}

p {
    background-color: aliceblue;
    padding: 10px;
    font-family: Quicksand, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-left: 20px;
}

address {
    margin-left: 20px;
}

strong {
    text-decoration-line: underline;
}

code {
    font-family: 'Arial', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}

p.tag1 {
    padding: 0;
    margin-bottom: 1px;
    margin-top: 0;
}

p.tab1 {
    margin-left: 70px;
}

p.tab2 {
    margin-left: 90px;
}

p.tab3 {
    margin-left: 120px;
}

textarea, select {
    margin-left: 30px;
}





